# SQL Agent

Converting Natural Language questions to SQL and get responses from db in natural language

In [5]:
### Loading Chinook db 

import os
import requests

url = "https://storage.googleapis.com/benchmarks-artifacts/chinook/Chinook.db"

response = requests.get(url)

if response.status_code == 200:
    # Open a local file in binary write mode
    with open("Chinook.db", "wb") as file:
        # Write the content of the response (the file) to the local file
        file.write(response.content)
    print("File downloaded and saved as Chinook.db")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

File downloaded and saved as Chinook.db

In [6]:
import sqlite3

# Connect to the database
connection = sqlite3.connect("Chinook.db")
cursor = connection.cursor()

# List all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:")
for table in tables:
    print(table[0])

# For each table, fetch and display sample records
for table in tables:
    print(f"\nSample records from {table[0]}:")
    cursor.execute(f"SELECT * FROM {table[0]} LIMIT 5;")
    rows = cursor.fetchall()

    for row in rows:
        print(row)

# Close the connection
connection.close()

Tables in the database:
Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track

Sample records from Album:
(1, 'For Those About To Rock We Salute You', 1)
(2, 'Balls to the Wall', 2)
(3, 'Restless and Wild', 2)
(4, 'Let There Be Rock', 1)
(5, 'Big Ones', 3)

Sample records from Artist:
(1, 'AC/DC')
(2, 'Accept')
(3, 'Aerosmith')
(4, 'Alanis Morissette')
(5, 'Alice In Chains')

Sample records from Customer:
(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)
(3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3)
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4)
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)

Sample records from Employee:
(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')

Sample records from Genre:
(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')

Sample records from Invoice:
(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)
(2, 4, '2009-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 3.96)
(3, 8, '2009-01-03 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 5.94)
(4, 14, '2009-01-06 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 8.91)
(5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86)

Sample records from InvoiceLine:
(1, 1, 2, 0.99, 1)
(2, 1, 4, 0.99, 1)
(3, 2, 6, 0.99, 1)
(4, 2, 8, 0.99, 1)
(5, 2, 10, 0.99, 1)

Sample records from MediaType:
(1, 'MPEG audio file')
(2, 'Protected AAC audio file')
(3, 'Protected MPEG-4 video file')
(4, 'Purchased AAC audio file')
(5, 'AAC audio file')

Sample records from Playlist:
(1, 'Music')
(2, 'Movies')
(3, 'TV Shows')
(4, 'Audiobooks')
(5, '90’s Music')

Sample records from PlaylistTrack:
(1, 3402)
(1, 3389)
(1, 3390)
(1, 3391)
(1, 3392)

Sample records from Track:
(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99)
(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99)
(3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99)
(4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, 0.99)
(5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, 0.99)

### Import Langchain modules

In [7]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.agents.agent_types import AgentType
from langchain_openai import AzureChatOpenAI, ChatOpenAI
from dotenv import load_dotenv

load_dotenv('.env')

True

In [9]:
# Define LLM Model using Azure Chat OpenAI

def get_llm(
    azure_deployment="gpt-4o",
    api_version="2024-06-01",
    temperature=0,
    timeout=600,
    max_tokens=4096,
    max_retries=1,
):
    return AzureChatOpenAI(
        azure_deployment=azure_deployment,
        api_version=api_version,
        temperature=temperature,
        timeout=timeout,
        max_tokens=max_tokens,
        max_retries=max_retries,
    )


llm = get_llm()

# test the model
llm.invoke("Tell me a joke about SQL")

###  Prompt

SQL_PREFIX = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.
"""

SQL_SUFFIX = """Begin!

Question: {input}
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
{agent_scratchpad}"""

SQL_FUNCTIONS_SUFFIX = """I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.""" 



 
 
References : https://github.com/langchain-ai/langchain/blob/master/libs/community/langchain_community/agent_toolkits/sql/prompt.py

In [5]:
# Set up the SQL database connection
db = SQLDatabase.from_uri('sqlite:///Chinook.db')

In [6]:
# Set up the SQL database toolkit
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [7]:
# Create the SQL agent executor
sql_agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    return_intermediate_steps=True
)

In [8]:
example_query = "Which countries have the highest sales?"

# sql_agent_executor.invoke({"input": example_query})

events = sql_agent_executor.stream(
    {"input": example_query})

for event in events:
    event["messages"][-1].pretty_print()

> Entering new SQL Agent Executor chain...
================================== Ai Message ==================================

To answer this question, I need to find out which tables in the database contain information about sales and countries.

Action: sql_db_list_tables
Action Input:
To answer this question, I need to find out which tables in the database contain information about sales and countries.

Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track================================ Human Message =================================

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================

Based on the tables listed, it seems that the Invoice table might contain information about sales, and the Customer table likely contains information about countries since customers would have billing addresses or country information.

Action: sql_db_schema
Action Input: Invoice, Customer
Based on the tables listed, it seems that the Invoice table might contain information about sales, and the Customer table likely contains information about countries since customers would have billing addresses or country information.

Action: sql_db_schema
Action Input: Invoice, Customer
CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/================================ Human Message =================================


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
================================== Ai Message ==================================

To find out which countries have the highest sales, I need to join the Customer and Invoice tables on the CustomerId field, sum the Total from the Invoice table for each country, and then order the results by the sum of Total in descending order to get the countries with the highest sales.

Action: sql_db_query_checker
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
To find out which countries have the highest sales, I need to join the Customer and Invoice tables on the CustomerId field, sum the Total from the Invoice table for each country, and then order the results by the sum of Total in descending order to get the countries with the highest sales.

Action: sql_db_query_checker
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC```sql
SELECT c.Country, SUM(i.Total) AS TotalSales FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
```================================ Human Message =================================

```sql
SELECT c.Country, SUM(i.Total) AS TotalSales FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
```
================================== Ai Message ==================================

The query checker has confirmed that my SQL query is correct. Now, I can execute the query to find out which countries have the highest sales.

Action: sql_db_query
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
The query checker has confirmed that my SQL query is correct. Now, I can execute the query to find out which countries have the highest sales.

Action: sql_db_query
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Customer c JOIN Invoice i ON c.CustomerId = i.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC[('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48), ('United Kingdom', 112.86), ('Czech Republic', 90.24), ('Portugal', 77.24), ('India', 75.26), ('Chile', 46.62), ('Ireland', 45.62), ('Hungary', 45.62), ('Austria', 42.62), ('Finland', 41.62), ('Netherlands', 40.62), ('Norway', 39.62), ('Sweden', 38.62), ('Spain', 37.62), ('Poland', 37.62), ('Italy', 37.62), ('Denmark', 37.62), ('Belgium', 37.62), ('Australia', 37.62), ('Argentina', 37.62)]================================ Human Message =================================

[('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48), ('United Kingdom', 112.86), ('Czech Republic', 90.24), ('Portugal', 77.24), ('India', 75.26), ('Chile', 46.62), ('Ireland', 45.62), ('Hungary', 45.62), ('Austria', 42.62), ('Finland', 41.62), ('Netherlands', 40.62), ('Norway', 39.62), ('Sweden', 38.62), ('Spain', 37.62), ('Poland', 37.62), ('Italy', 37.62), ('Denmark', 37.62), ('Belgium', 37.62), ('Australia', 37.62), ('Argentina', 37.62)]
I now know the final answer to which countries have the highest sales based on the data from the database.
Final Answer: The countries with the highest sales, in descending order, are USA, Canada, France, Brazil, and Germany.

> Finished chain.
================================== Ai Message ==================================

I now know the final answer to which countries have the highest sales based on the data from the database.
Final Answer: The countries with the highest sales, in descending order, are USA, Canada, France, Brazil, and Germany.

_

### SQL Database Toolkit

1. **sql_db_list_tables** : 
    List the tables in the database
    - Input  : list of all tables
    - Output : list of relevant tables

2. **sql_db_schema**
    Get schema for relevant tables
    - Input  : list of relevant tables
    - Output : Schema for relevant tables

3. **sql_db_query_checker**
    Generate SQL query based using relevant table schemas
    - Input  : Schema for relevant tables
    - Output : Valid SQL query

4. **sql_db_query**
    Result of SQL query
    - Input  : Valid SQL query
    - Output : Query output data

In [9]:
example_query = "Who is the oldest employee?"

events = sql_agent_executor.stream(
    {"input": example_query})

for event in events:
    event["messages"][-1].pretty_print()

> Entering new SQL Agent Executor chain...
================================== Ai Message ==================================

I need to find the table that contains employee information, including their birthdates or ages, to determine who the oldest employee is.
Action: sql_db_list_tables
Action Input:
I need to find the table that contains employee information, including their birthdates or ages, to determine who the oldest employee is.
Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track================================ Human Message =================================

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================

The Employee table likely contains the information needed to determine the oldest employee.
Action: sql_db_schema
Action Input: Employee
The Employee table likely contains the information needed to determine the oldest employee.
Action: sql_db_schema
Action Input: Employee
CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/================================ Human Message =================================


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/
================================== Ai Message ==================================

I can see that the Employee table contains a "BirthDate" column, which I can use to determine the oldest employee by finding the earliest date.
Action: sql_db_query_checker
Action Input: SELECT FirstName, LastName, BirthDate FROM Employee ORDER BY BirthDate ASC LIMIT 1
I can see that the Employee table contains a "BirthDate" column, which I can use to determine the oldest employee by finding the earliest date.
Action: sql_db_query_checker
Action Input: SELECT FirstName, LastName, BirthDate FROM Employee ORDER BY BirthDate ASC LIMIT 1```sql
SELECT FirstName, LastName, BirthDate FROM Employee ORDER BY BirthDate ASC LIMIT 1
```================================ Human Message =================================

```sql
SELECT FirstName, LastName, BirthDate FROM Employee ORDER BY BirthDate ASC LIMIT 1
```
================================== Ai Message ==================================

The query checker has confirmed that my query is correct.
Action: sql_db_query
Action Input: SELECT FirstName, LastName, BirthDate FROM Employee ORDER BY BirthDate ASC LIMIT 1
The query checker has confirmed that my query is correct.
Action: sql_db_query
Action Input: SELECT FirstName, LastName, BirthDate FROM Employee ORDER BY BirthDate ASC LIMIT 1[('Margaret', 'Park', '1947-09-19 00:00:00')]================================ Human Message =================================

[('Margaret', 'Park', '1947-09-19 00:00:00')]
I now know the final answer.
Final Answer: The oldest employee is Margaret Park, born on September 19, 1947.

> Finished chain.
================================== Ai Message ==================================

I now know the final answer.
Final Answer: The oldest employee is Margaret Park, born on September 19, 1947.

In [10]:

example_query = "Which countries have the highest sales?"

events = sql_agent_executor.stream(
    {"input": example_query})

for event in events:
    event["messages"][-1].pretty_print()

> Entering new SQL Agent Executor chain...
================================== Ai Message ==================================

To answer this question, I need to find out which tables in the database contain information about sales and countries. First, I'll list all the tables in the database.

Action: sql_db_list_tables
Action Input:
To answer this question, I need to find out which tables in the database contain information about sales and countries. First, I'll list all the tables in the database.

Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track================================ Human Message =================================

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================

Based on the tables listed, it seems that the "Invoice" table might contain information about sales, and the "Customer" table could contain information about countries since customers are likely associated with sales and would have country information. To confirm this, I should check the schema of both "Invoice" and "Customer" tables.

Action: sql_db_schema
Action Input: Invoice, Customer
Based on the tables listed, it seems that the "Invoice" table might contain information about sales, and the "Customer" table could contain information about countries since customers are likely associated with sales and would have country information. To confirm this, I should check the schema of both "Invoice" and "Customer" tables.

Action: sql_db_schema
Action Input: Invoice, Customer
CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/================================ Human Message =================================


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2009-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2009-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2009-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
================================== Ai Message ==================================

The "Invoice" table contains sales data, including the "Total" for each sale and a "CustomerId" that links to the "Customer" table, which contains the "Country" of each customer. To find out which countries have the highest sales, I need to sum the "Total" sales for each country. This requires joining the "Invoice" and "Customer" tables on "CustomerId" and then grouping the results by country to sum the sales totals for each country. Finally, I'll order the results by the sum of sales in descending order to get the countries with the highest sales at the top.

Action: sql_db_query_checker
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Invoice i JOIN Customer c ON i.CustomerId = c.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
The "Invoice" table contains sales data, including the "Total" for each sale and a "CustomerId" that links to the "Customer" table, which contains the "Country" of each customer. To find out which countries have the highest sales, I need to sum the "Total" sales for each country. This requires joining the "Invoice" and "Customer" tables on "CustomerId" and then grouping the results by country to sum the sales totals for each country. Finally, I'll order the results by the sum of sales in descending order to get the countries with the highest sales at the top.

Action: sql_db_query_checker
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Invoice i JOIN Customer c ON i.CustomerId = c.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC```sql
SELECT c.Country, SUM(i.Total) AS TotalSales FROM Invoice i JOIN Customer c ON i.CustomerId = c.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
```================================ Human Message =================================

```sql
SELECT c.Country, SUM(i.Total) AS TotalSales FROM Invoice i JOIN Customer c ON i.CustomerId = c.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
```
================================== Ai Message ==================================

The query has been checked and is correct. Now, I'll execute it to find out which countries have the highest sales.

Action: sql_db_query
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Invoice i JOIN Customer c ON i.CustomerId = c.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC
The query has been checked and is correct. Now, I'll execute it to find out which countries have the highest sales.

Action: sql_db_query
Action Input: SELECT c.Country, SUM(i.Total) AS TotalSales FROM Invoice i JOIN Customer c ON i.CustomerId = c.CustomerId GROUP BY c.Country ORDER BY TotalSales DESC[('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48), ('United Kingdom', 112.86), ('Czech Republic', 90.24), ('Portugal', 77.24), ('India', 75.26), ('Chile', 46.62), ('Ireland', 45.62), ('Hungary', 45.62), ('Austria', 42.62), ('Finland', 41.62), ('Netherlands', 40.62), ('Norway', 39.62), ('Sweden', 38.62), ('Spain', 37.62), ('Poland', 37.62), ('Italy', 37.62), ('Denmark', 37.62), ('Belgium', 37.62), ('Australia', 37.62), ('Argentina', 37.62)]================================ Human Message =================================

[('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48), ('United Kingdom', 112.86), ('Czech Republic', 90.24), ('Portugal', 77.24), ('India', 75.26), ('Chile', 46.62), ('Ireland', 45.62), ('Hungary', 45.62), ('Austria', 42.62), ('Finland', 41.62), ('Netherlands', 40.62), ('Norway', 39.62), ('Sweden', 38.62), ('Spain', 37.62), ('Poland', 37.62), ('Italy', 37.62), ('Denmark', 37.62), ('Belgium', 37.62), ('Australia', 37.62), ('Argentina', 37.62)]
I now know the final answer
Final Answer: The countries with the highest sales, in descending order, are: USA, Canada, France, Brazil, Germany, United Kingdom, Czech Republic, Portugal, India, Chile, Ireland, Hungary, Austria, Finland, Netherlands, Norway, Sweden, Spain, Poland, Italy, Denmark, Belgium, Australia, and Argentina.

> Finished chain.
================================== Ai Message ==================================

I now know the final answer
Final Answer: The countries with the highest sales, in descending order, are: USA, Canada, France, Brazil, Germany, United Kingdom, Czech Republic, Portugal, India, Chile, Ireland, Hungary, Austria, Finland, Netherlands, Norway, Sweden, Spain, Poland, Italy, Denmark, Belgium, Australia, and Argentina.

In [11]:
example_query = "What is the avg length of tracks in each genre?"

events = sql_agent_executor.stream(
    {"input": example_query})

for event in events:
    event["messages"][-1].pretty_print()

> Entering new SQL Agent Executor chain...
================================== Ai Message ==================================

First, I need to find out what tables are available in the database to determine where the information about tracks and genres is stored.

Action: sql_db_list_tables
Action Input:
First, I need to find out what tables are available in the database to determine where the information about tracks and genres is stored.

Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track================================ Human Message =================================

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================

Given the tables listed, it seems likely that the information about tracks is stored in the "Track" table and information about genres is stored in the "Genre" table. To calculate the average length of tracks in each genre, I'll need to join these tables on a common field, probably a genre identifier, and then group the results by genre to calculate the average track length.

Action: sql_db_schema
Action Input: Track,Genre
Given the tables listed, it seems likely that the information about tracks is stored in the "Track" table and information about genres is stored in the "Genre" table. To calculate the average length of tracks in each genre, I'll need to join these tables on a common field, probably a genre identifier, and then group the results by genre to calculate the average track length.

Action: sql_db_schema
Action Input: Track,Genre
CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/================================ Human Message =================================


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	None	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/
================================== Ai Message ==================================

Now that I have the schema for both the "Track" and "Genre" tables, I can see that the "GenreId" field links these two tables together. The "Milliseconds" field in the "Track" table is likely the length of the track. I need to write a SQL query to join these tables on "GenreId", group the results by genre, and calculate the average length of tracks in each genre.

Action: sql_db_query_checker
Action Input: SELECT g.Name AS Genre, AVG(t.Milliseconds) AS AvgLength FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name
Now that I have the schema for both the "Track" and "Genre" tables, I can see that the "GenreId" field links these two tables together. The "Milliseconds" field in the "Track" table is likely the length of the track. I need to write a SQL query to join these tables on "GenreId", group the results by genre, and calculate the average length of tracks in each genre.

Action: sql_db_query_checker
Action Input: SELECT g.Name AS Genre, AVG(t.Milliseconds) AS AvgLength FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name```sql
SELECT g.Name AS Genre, AVG(t.Milliseconds) AS AvgLength FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name
```================================ Human Message =================================

```sql
SELECT g.Name AS Genre, AVG(t.Milliseconds) AS AvgLength FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name
```
================================== Ai Message ==================================

The query checker did not return an error, which means my SQL query is correctly formatted. Now, I can execute this query to find the average length of tracks in each genre.

Action: sql_db_query
Action Input: SELECT g.Name AS Genre, AVG(t.Milliseconds) AS AvgLength FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name
The query checker did not return an error, which means my SQL query is correctly formatted. Now, I can execute this query to find the average length of tracks in each genre.

Action: sql_db_query
Action Input: SELECT g.Name AS Genre, AVG(t.Milliseconds) AS AvgLength FROM Track t JOIN Genre g ON t.GenreId = g.GenreId GROUP BY g.Name[('Alternative', 264058.525), ('Alternative & Punk', 234353.84939759035), ('Blues', 270359.77777777775), ('Bossa Nova', 219590.0), ('Classical', 293867.5675675676), ('Comedy', 1585263.705882353), ('Drama', 2575283.78125), ('Easy Listening', 189164.20833333334), ('Electronica/Dance', 302985.8), ('Heavy Metal', 297452.9285714286), ('Hip Hop/Rap', 178176.2857142857), ('Jazz', 291755.3769230769), ('Latin', 232859.26252158894), ('Metal', 309749.4438502674), ('Opera', 174813.0), ('Pop', 229034.10416666666), ('R&B/Soul', 220066.8524590164), ('Reggae', 247177.75862068965), ('Rock', 283910.0431765613), ('Rock And Roll', 134643.5), ('Sci Fi & Fantasy', 2911783.0384615385), ('Science Fiction', 2625549.076923077), ('Soundtrack', 244370.88372093023), ('TV Shows', 2145041.0215053763), ('World', 224923.82142857142)]================================ Human Message =================================

[('Alternative', 264058.525), ('Alternative & Punk', 234353.84939759035), ('Blues', 270359.77777777775), ('Bossa Nova', 219590.0), ('Classical', 293867.5675675676), ('Comedy', 1585263.705882353), ('Drama', 2575283.78125), ('Easy Listening', 189164.20833333334), ('Electronica/Dance', 302985.8), ('Heavy Metal', 297452.9285714286), ('Hip Hop/Rap', 178176.2857142857), ('Jazz', 291755.3769230769), ('Latin', 232859.26252158894), ('Metal', 309749.4438502674), ('Opera', 174813.0), ('Pop', 229034.10416666666), ('R&B/Soul', 220066.8524590164), ('Reggae', 247177.75862068965), ('Rock', 283910.0431765613), ('Rock And Roll', 134643.5), ('Sci Fi & Fantasy', 2911783.0384615385), ('Science Fiction', 2625549.076923077), ('Soundtrack', 244370.88372093023), ('TV Shows', 2145041.0215053763), ('World', 224923.82142857142)]
I now know the final answer
Final Answer: The average length of tracks in each genre is as follows:
- Alternative: 264058.525 milliseconds
- Alternative & Punk: 234353.849 milliseconds
- Blues: 270359.778 milliseconds
- Bossa Nova: 219590.0 milliseconds
- Classical: 293867.568 milliseconds
- Comedy: 1585263.706 milliseconds
- Drama: 2575283.781 milliseconds
- Easy Listening: 189164.208 milliseconds
- Electronica/Dance: 302985.8 milliseconds
- Heavy Metal: 297452.929 milliseconds
- Hip Hop/Rap: 178176.286 milliseconds
- Jazz: 291755.377 milliseconds
- Latin: 232859.263 milliseconds
- Metal: 309749.444 milliseconds
- Opera: 174813.0 milliseconds
- Pop: 229034.104 milliseconds
- R&B/Soul: 220066.852 milliseconds
- Reggae: 247177.759 milliseconds
- Rock: 283910.043 milliseconds
- Rock And Roll: 134643.5 milliseconds
- Sci Fi & Fantasy: 2911783.038 milliseconds
- Science Fiction: 2625549.077 milliseconds
- Soundtrack: 244370.884 milliseconds
- TV Shows: 2145041.022 milliseconds
- World: 224923.821 milliseconds

> Finished chain.
================================== Ai Message ==================================

I now know the final answer
Final Answer: The average length of tracks in each genre is as follows:
- Alternative: 264058.525 milliseconds
- Alternative & Punk: 234353.849 milliseconds
- Blues: 270359.778 milliseconds
- Bossa Nova: 219590.0 milliseconds
- Classical: 293867.568 milliseconds
- Comedy: 1585263.706 milliseconds
- Drama: 2575283.781 milliseconds
- Easy Listening: 189164.208 milliseconds
- Electronica/Dance: 302985.8 milliseconds
- Heavy Metal: 297452.929 milliseconds
- Hip Hop/Rap: 178176.286 milliseconds
- Jazz: 291755.377 milliseconds
- Latin: 232859.263 milliseconds
- Metal: 309749.444 milliseconds
- Opera: 174813.0 milliseconds
- Pop: 229034.104 milliseconds
- R&B/Soul: 220066.852 milliseconds
- Reggae: 247177.759 milliseconds
- Rock: 283910.043 milliseconds
- Rock And Roll: 134643.5 milliseconds
- Sci Fi & Fantasy: 2911783.038 milliseconds
- Science Fiction: 2625549.077 milliseconds
- Soundtrack: 244370.884 milliseconds
- TV Shows: 2145041.022 milliseconds
- World: 224923.821 milliseconds